body {
    font-family: 'JetBrains Mono';
    font-size: 22px;
    background-color: #001428;
    color: #eef7ff;
    margin-left: 1em;
    margin-right: 1em;
}

@media only screen and (min-width: 767px) {
  .exp-list {
    columns: 2;
  }
  body {
    margin-left: 5em;
    margin-right: 5em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 equal columns */
    grid-template-rows: auto auto; /* 2 rows */
    gap: 20px; /* Space between columns and rows */
    padding: 20px;
  }
}

ul, p, a {
    line-height: 135%;
    font-family: 'Hurmit Nerd Font', monospace;
    font-size: 12pt;
}

b {
  font-size: 14pt;
}

h1 {
    font-family: 'Hurmit Nerd Font', monospace;
    font-size: 32pt;
    text-align: center;
}

h2 {
    font-family: 'Hurmit Nerd Font', monospace;
    font-size: 22pt;
}

a {
    color: #0076df;
}

a:visited {
    color: #00417a;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-template-rows: auto auto; /* 2 rows */
  gap: 20px; /* Space between columns and rows */
  padding: 20px;
}

.logo img {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
}

.text {
  text-align: center;
  font-size: 18px;
  color: #001428;
}
